.vs/
bin/
obj/

*.user
*.suo
*.cache

packages/

node_modules/

publish/

SaleOrd.SyncAgent/installer/payload/
SaleOrd.SyncAgent/installer/Output/
SalesPush.SyncAgent/installer/payload/
SalesPush.SyncAgent/installer/Output/

TestResults/

*.pdb

appsettings.Development.json